@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'bootstrap/dist/css/bootstrap.min.css';

.bg-light {
  --bs-bg-opacity: 1;
  background-color: rgb(223 226 228) !important;
}

.bg-dark {
  --bs-bg-opacity: 1;
  background-color: rgb(31 41 55 / var(--tw-bg-opacity));
  color: white;
}

.width-set-header {
  width: 100vw;
}

.foot-container {
  padding: 10px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;

  ul {
    h1 {
      font-size: 24px;
      padding: 5px;
    }

    li {
      padding: 5px;
      cursor: pointer;
    }
  }

  .footer-line {
    border: 1px solid;

  }
}